<!DOCTYPE html>
<html lang = 'eng'>
  <head>
  </head>
  <body class = "container">
    <section id = "mainSection">

      Try to beat the game: <%= username %>
      <form action = '/scores' method = POST>




        <input type = 'submit'>
      </form>
    </section>
  </body>
</html>
