<!DOCTYPE html>
<html lang = 'eng'>
  <head>
  </head>
  <body class = "container">
    <section id = "mainSection">
      <form method = POST action = '/game'>
        <input type = 'text' name = 'username' id = 'username' placeholder = 'enter username'>
        <input type = 'submit' value = "Play Game">
      </form>
    </section>
  </body>
</html>
