<!DOCTYPE html>
<html lang = 'eng'>
  <head>
  </head>
  <body class = "container">
    <section id = "mainSection">
        High scores!:
      <ol type = "1">
      <% db.forEach(function(score){ %>

        <li> <%= score.username %> : <%= score.points %>

          <% }); %>
        </ul>

    </section>
  </body>
</html>
